@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

:root {
	--header-height: 5rem;

	--first-color: hsl(300, 30%, 50%);
	--first-color-light: hsl(320, 80%, 75%);

	--second-color: #a2d2ff;
	--second-color-light: #bde0fe;

	--title-color: #212529;
	--text-color: #343a40;
	--text-color-light: #6c757d;

	--bg-color: #f8f9fa;
	--bg-color-alt: #eff1f3;

	--color-white: #fff;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	margin-top: var(--header-height);
	min-height: calc(100vh - var(--header-height));
	color: var(--text-color);
	display: grid;
	grid-template-rows: 1fr auto;
	background-color: var(--bg-color);
	font-family: 'Monstserrat', Helvetica, sans-serif;
	font-size: 1rem;
}

h1,
h2,
h3 {
	font-family: 'Montserrat', Helvetica, sans-serif;
	color: var(--title-color);
}

a {
	text-decoration: none;
}

p {
	line-height: 150%;
}

img {
	max-width: 100%;
}

ul {
	list-style: none;
}

/*====== HEADER ======*/

.header {
	height: var(--header-height);
	background-color: var(--bg-color);
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
	box-shadow: rgba(50, 50, 93, 0.15) 0px 6px 12px -2px, rgba(0, 0, 0, 0.1) 0px 3px 7px -3px;
}

.logo {
	height: var(--header-height);
	display: flex;
	align-items: center;
	text-transform: uppercase;
	font-weight: 800;
}

.logo img {
	padding: 1rem;
	height: var(--header-height);
}

.nav {
	max-width: 1400px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	justify-content: space-around;
}

.nav__list {
	display: flex;
	gap: 2.5rem;
}

.nav__link {
	color: var(--text-color-light);
	font-weight: 600;
}

.actions {
	display: flex;
	gap: 1.5rem;
	align-items: center;
}

.actions-btn {
	font-weight: 500;
}

.actions-btn2 {
	background-color: var(--first-color-light);
	padding: 0.5rem 1rem;
	color: #FFF;
	border-radius: 4px;
	transition: 0.2s;
}

.actions-btn2:hover {
	background-color: var(--first-color);
}

/*====== HERO ======*/

.hero {
	padding-top: 120px;
	padding-bottom: 120px;
	width: 100%;
	display: grid;
	place-items: center;
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: linear-gradient(
		to right,
		rgba(0, 0, 0, 0.5),
		rgba(0, 0, 0, 0.5)
	   ),url('https://images.unsplash.com/photo-1682397972818-ae4ee9e565bd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1471&q=80');
}

.hero__container {
	padding: 1rem;
	max-width: 1400px;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.hero__title {
	font-size: 4rem;
	font-weight: 800;
	text-transform: uppercase;
	text-align: center;
	background-image: linear-gradient(45deg, var(--first-color), var(--first-color-light));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.hero__description {
	text-align: center;
	font-weight: 600;
	color: var(--text-color-light);
}

.hero__email {
	display: flex;
	justify-content: center;
}

.hero__email-input {
	padding: 0.8rem 1rem;
	font-size: 1rem;
	border-radius: 8px 0 0 8px;
	background-color: #FFF;
	border: 2px solid var(--first-color-light);
	border-right: 0;
}

.hero__email-input::placeholder {
	color: var(--text-color-light);
}

.hero__email-input:focus,
.hero__email-btn:focus {
	outline: 2px solid var(--second-color);
	outline-offset: -2px;
}

.hero__email-btn {
	background-color: var(--first-color-light);
	color: #fff;
	border-radius: 0 8px 8px 0;
	border: 0;
	outline: 2px solid var(--first-color-light);
	outline-offset: -2px;
	font-size: 1rem;
}

.hero__text {
	text-align: center;
	color: var(--text-color-light);
}

@media (min-width: 768px) {
	.hero {
		padding-top: 150px;
		padding-bottom: 150px;
	}
	.hero__title {
		font-size: 5rem;
	}
}

@media (min-width: 1024px) {
	.hero {
		padding-top: 200px;
		padding-bottom: 200px;
	}
}


/*====== SUSCRIPTION ======*/

.subscription {
	display: flex;
	justify-content: center;
	padding: 4rem 0;
	width: 100%;
}

.subscription__container {
	max-width: 1400px;
	width: 100%;
	display: grid;
	align-items: center;
	gap: 2rem;
	padding: 2rem;
}

@media (min-width: 1024px) {
	.subscription__container {
		grid-template-columns: repeat(2, 1fr);
	}
}

.subscription__video  {}

.subscription__video video {
	width: 100%;
	border-radius: 4px;
}

.subscription__description {
	display: flex; 
	flex-direction: column;
	gap: 0.5rem;
}

.subscription__title {
	font-size: 2rem;
	font-weight: 800;
	background-image: linear-gradient(45deg, var(--first-color), var(--first-color-light));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.subscription__idea {
	display: flex;
}

.subscription__idea-input {
	padding: 0.8rem 1rem;
	font-size: 1rem;
	border-radius: 8px 0 0 8px;
	background-color: #FFF;
	border: 2px solid var(--first-color-light);
	border-right: 0;
}

.subscription__idea-input::placeholder {
	color: var(--text-color-light);
}

.subscription__idea-input:focus,
.subscription__idea-btn:focus {
	outline: 2px solid var(--second-color);
	outline-offset: -2px;
}

.subscription__idea-btn {
	background-color: var(--first-color-light);
	color: #fff;
	border-radius: 0 8px 8px 0;
	border: 0;
	outline: 2px solid var(--first-color-light);
	outline-offset: -2px;
	font-size: 1rem;
}

/*====== FEATURES ======*/

.features {
	width: 100%;
	background-color: var(--bg-color-alt);
	padding: 4rem 0px;
}

.features__container {
	display: grid;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: 1400px;
	padding: 2rem;
	gap: 2rem;
}

.feature {
	justify-content: center;
	background: #FFF;
	border-radius: 4px;
	overflow: hidden;
	box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.feature__img {
	width: 100%;
}

.feature__img img {
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.feature__content {
	padding: 1rem;
}

@media (min-width: 768px) {
	.features__container {
		grid-template-columns: repeat(2, 1fr);
	}
	.feature__img img {
		height: 250px;
	}
}

@media (min-width: 1024px) {
	.feature__img img {
		height: 250px;
	}
}

/*====== FOOTER ======*/

.footer {
	width: 100%;
	padding: 1rem;
	display: flex;
	justify-content: center;
}
